{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <h2>New Comment</h2>
    <form method="POST" class="comment-form">{% csrf_token %}
        <!-- {{ form.as_p }} -->
        <input type="text" name="author" value="" id = 'author'><br>
        <input type="text" name="text" value="" id = 'text'>
        <input type="text" name="pk" id='pk' value="{{ post.pk }}" hidden="">
        <div class="g-recaptcha" data-sitekey="6LejKCYTAAAAAEOtr81cC8AyKmrFHOET43APcdZ7"></div>
        <!-- <br/> -->

        <input type='button' id='create_comment' class="save btn btn-default" value='Save'>
    </form>
    <br>
    <hr>
    <h2>Comments</h2>

      <div id='comments'>
        {% include 'blog/comment.html' %}
      </div>

  <!-- {% for comment in comments %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
        </div>
        <span id = 'comment-name'> by: {{ comment.author }}</span>
        <p>{{ comment.text|linebreaksbr }}</p><br>
        <span style='border:1px solid black' id = 'like_count'>{{ comment.like }}</span>{% csrf_token %}
        <button type="button" id = 'likes' data-comid=" {{ comment.id }} " name="button"> Upvote</button>
    </div>
    <hr>
  {% endfor %} -->

{% endblock %}
